@font-face {
    font-family: 'Spartan';
    src: url('/assets/fonts/Spartan-Regular.woff2') format('woff2'),
        url('/assets/fonts/Spartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

